.places {
  padding-top: 92px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  display: grid;
  gap: 80px;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 750px) {
  .places {
    padding-top: 64px;
    gap: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}