.places {
  padding-top: 92px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (max-width: 768px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding-left: 0;
    padding-right: 0;
  }
}