.place__paragraph-container {
  grid-area: place__paragraph-container;
}

@media screen and (max-width: 760px) {
  .place__paragraph-container {
    padding-left: 16px;
    padding-right: 16px;
    grid-column: 1/2;
  }
}
