.footer__link {
  color: #fff;
  text-decoration: none;
  margin-right: 18px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  opacity: .8;
}

@media (max-width: 320px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}

