.cover {
  padding: 92px 48px 0 48px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media screen and (max-width: 760px) {
  .cover {
    padding-top: 66px;
  }
}