.main__margin {
  padding-left: 148px;
  padding-right: 148px;
}

@media screen and (max-width: 1024px) {
  .main__margin {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .main__margin {
    padding-left: 0px;
    padding-right: 0px;
  }
}