.cover__title {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  white-space: pre-line;
}

@media (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}