.place {
  max-width: 100%;
  display: grid;
  grid-template-areas: 
    'place__title place__website'
    'place__image place__paragraph-container';
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-areas: 
      'place__title'
      'place__website'
      'place__image'
      'place__paragraph-container';
    gap: 32px;
  }
}