.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px 48px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 92px 48px 24px 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    padding: 64px 118px 24px 16px;
  }
}